apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../../base

namespace: cat-dev

images:
- digest: sha256:73949cf5b96a068f2fa7268b561dbac5086764266e360201ea15f5e3f1fb6291
  name: quay.io/rbrhssa/quarkus-grumpycat:latest
  newName: quay.io/rbrhssa/quarkus-grumpycat:latest
- digest: sha256:74fe963d194de739c7be385a757f7445d8864573df9573ac2ab7f932827e41c0
  name: quay.io/wpernath/grumpycat-melonjs:latest
  newName: quay.io/rbrhssa/grumpycat-melonjs:latest
- digest: sha256:f89944f11d5ca67c454cbedf56e197a706beed4046cecdfeb4ce3c3a7773406b
  name: quay.io/wpernath/quarkus-grumpycat:latest
  newName: quay.io/rbrhssa/quarkus-grumpycat:latest

# generate a configmap 
  # Cat - Client ConfigMap, note that the client app runs entirely on the browser, 
  # so we need to use the external URL of the grumpycat server service
  # 
  # Grumpycat Server configmap, just point to the internal service name of the kafka service
configMapGenerator:
- literals:
  - APPLICATION_BASESERVERURL=http://cat-server-cat-dev.apps.cluster-fxmxz.fxmxz.sandbox452.opentlc.com/
  - WORKSHOP_TEST_VAR=Welcome in this Bootcamp!
  name: client-config
- literals:
  - KAFKA_BOOTSTRAP_SERVERS=grumpy-kafka-kafka-bootstrap:9092
  name: server-config
